@page
@model jo_azure_web_app.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Testing Desployment Slots</h1>
    <h3>Validating the deployment slot feature</h3>
</div>
