@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure App Services - Actions</h1>
    <p>Jorge O. Sandoval - Azure Engineer</p>
    <small>
        @ViewData["Greeting"]
    </small>
</div>
