@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure App Services - VS Code tools</h1>
    <p>Jorge O. Sandoval - Azure Engineer</p>
</div>
